################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/Ponies of the Rim/Ponies of the Rim/.vs
/Source/Ponies of the Rim/.vs/Ponies of the Rim/FileContentIndex
/Source/Ponies of the Rim/.vs/Ponies of the Rim/v17/.suo
/Source/Ponies of the Rim/.vs/Ponies of the Rim/v17/DocumentLayout.json
/Source/Ponies of the Rim/.vs
/Source/Ponies of the Rim/Ponies of the Rim/AlienRace
*.vsidx
*.dll
*.vsidx
Source/.vs/Ponies of the Rim/v17/DocumentLayout.json
Source/.vs/Ponies of the Rim/v17/DocumentLayout.backup.json
*.cache
Source/.vs/Ponies of the Rim/v17/DocumentLayout.json
Source/.vs/Ponies of the Rim/v17/.suo
/Source/.vs/Ponies of the Rim/FileContentIndex
