<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
		<!-- Mod Name -->
	<SettingsPoniesOfTheRim>Ponies Of The Rim</SettingsPoniesOfTheRim>
		<!-- Header -->
	<SettingsHeader>Here are settings for Ponies Of Rim Mod</SettingsHeader>
	<SettingsEnableAll>Enable All</SettingsEnableAll>
	<SettingsDisableAll>Disable All</SettingsDisableAll>
	<SettingsDefulatAll>Defulat All</SettingsDefulatAll>
	<!-- Main -->
	<SettingsCore>Core</SettingsCore>
	<!-- Classical -->
	<SettingsClassical>Classical</SettingsClassical>
	<SettingsIdeology>Ideology</SettingsIdeology>
	<SettingsAbilities>Abilities</SettingsAbilities>
	<SettingsProsthetics>Prosthetics</SettingsProsthetics>
	<SettingsAnthro>Anthro</SettingsAnthro>
	<SettingsEnableRegularHorses>Enable Regular Horses</SettingsEnableRegularHorses>
</LanguageData>