<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	<!-- Mod Name -->
		<SettingsPoniesOfTheRim>Ponies of the Rim</SettingsPoniesOfTheRim>
	<!-- Tabs -->
		<Pony_TabGeneral>General settings</Pony_TabGeneral>
		<Pony_TabPatches>Patch settings</Pony_TabPatches>
	<!-- General -->
		<SettingsHeader>Mod's settings</SettingsHeader>
		<SettingsDefulatAll>Set to default</SettingsDefulatAll>
		<Pony_WarnReloadSave>Must reload your save file to apply changes</Pony_WarnReloadSave>
	<!-- Main -->
		<SettingsCore> Ponies of the Rim: Core</SettingsCore>
		<SettingsClassical>All settings</SettingsClassical>
		<SettingsAbilities>Abilities</SettingsAbilities>
		<Pony_SettingsDiet>Unique diets</Pony_SettingsDiet>
		<Pony_SettingsFoodDebuffs>Food mood debuffs</Pony_SettingsFoodDebuffs>
	<!-- ToolTips -->
		<SettingsToolTipClassical>Enable all recomended settings</SettingsToolTipClassical>
		<SettingsToolTipAbilities>Enable racial pony abilities</SettingsToolTipAbilities>
		<Pony_SettingsToolTipDiet>Enable herbivore/carnivore racial diets</Pony_SettingsToolTipDiet>
		<Pony_SettingsToolTipFoodDebuffs>Enable negative mood debuffs when consumed by herbivores/carnivores</Pony_SettingsToolTipFoodDebuffs>

	<!-- Patches -->
		<Pony_NoPatchesFound>No patches found</Pony_NoPatchesFound>
		<Pony_PatchSettingsHeader>XML patches. Doesn't always apply changes to an existing save file. In most cases, new pawns / items / tiles need to be generated</Pony_PatchSettingsHeader>
	<!-- Reload game-->
		<Pony_WarnReloadGame>Must reload the game to apply changes</Pony_WarnReloadGame>
		<Pony_RestartNow>Save and apply changes</Pony_RestartNow>
		<Pony_RestartConfirm>Mod's settings have been changed. Are you sure you want to reload the game?</Pony_RestartConfirm>
</LanguageData>